<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <!-- Player 1 score and pseudo -->

  <div id="player1" class="firstplayer">
    <a class="nav-item button-white player1" href="#">Player 1</a>
    <!-- <br/>
    <img class="hexagon p1" src="https://zupimages.net/up/18/13/my9v.png" alt="score" width="230px" />
    <br/>
    <img class="hexagon p1j" src="https://zupimages.net/up/18/13/my9v.png" alt="score" width="230px" /> -->
    <div class="hexagon-icon rotateIn"></div>
  </div>



  <!-- Player 2 score and pseudo -->

  <div id="player2" class="secondplayer">
    <a class="nav-item button-white player2" href="#">Player 2</a>
    <!-- <br/>
    <img class="hexagon p2" src="https://zupimages.net/up/18/13/my9v.png" alt="score" width="230px" />
    <br/>
    <img class="hexagon2 p2j" src="https://zupimages.net/up/18/13/my9v.png" alt="score" width="230px" /> -->
    <div class="hexagon-icon2 rotateIn"></div>
  </div>


  <canvas></canvas>
  <!-- <div id='gridGame'></div> -->


  <!-- Button to Open the Modal -->


  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">



        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Rules</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Players White and Orange take turns placing hexes. White plays first. Each hex (other than the first two) must be played
          adjacent to two previously played hexes (playable options are shown in light gray). win if you surround at least
          one of your opponents' hexes with your own, or if you play 5 of your own hexes in a row.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a type="button" class="btn btn-info" data-dismiss="modal">Close</a>
        </div>

      </div>
    </div>
  </div>
  <p></p>
  <div id="bottomfooter">
    <a class="btn btn-info" href="">Exit</a>
    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#resultGame">Open Modal</button>


    <button class="btn btn-info" data-toggle="modal" data-target="#myModal">
      Rules !
    </button>
  </div>
  <!--  <button (click)="googleSignOut()">Google Sign Out</button>  -->
</div>
<!-- <div id="resultGame" *ngIf="room && room.win">{{message}}</div> -->


<div class="modal fade" id="resultGame">
  <div class="modal-dialog">
    <div class="modal-content">



      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">TATAAAAAATINTIN...!!! </h4>
        <button type="button" class="close" href="">&times;</button>

      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{message}} </div>


      <!-- Modal footer -->
      <div class="modal-footer">
        <a type="button" class="btn btn-info" href="">Replay</a>
      </div>

    </div>
  </div>
</div>
