.button-white {
  background-color: white;
  color: black !important;
  padding: 4px 10px;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.button-white:hover {
  color: black !important;
  background-color: #f8ead6;
  text-decoration: none;
  border-radius: 0px;
}

.btn-obtion {
  background-color: white;
  color: black !important;
  padding: 4px 10px;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.btn-obtion:hover {
  color: black !important;
  background-color: orange;
  text-decoration: none;
  border-radius: 3px;
}

.btn-info {
  margin-top: 20px;
}

/* player 1 & 2 */

.firstplayer {
  float: left;
  margin-top: 4%;
}

.secondplayer {
  float: right;
  margin-top: 4%;
}

.hexagon-icon {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: orange;
  margin: 28.87px 0;
  border-left: solid 5px #ffffff;
  border-right: solid 5px #ffffff;
  margin-top: 70%;
  margin-left: 20%;
}

.hexagon-icon:before,
.hexagon-icon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.6447px;
}

.hexagon-icon:before {
  top: -35.3553px;
  border-top: solid 7.0711px #ffffff;
  border-right: solid 7.0711px #ffffff;
}

.hexagon-icon:after {
  bottom: -35.3553px;
  border-bottom: solid 7.0711px #ffffff;
  border-left: solid 7.0711px #ffffff;
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 1s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
  }
}

#gridGame {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  background-color: rgb(53, 2, 54);
  width: 100vw;
  height: 100vh;
  display: block;
  vertical-align: top;
}

#text,
#debug {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
  pointer-events: none;
  color: white;
  text-shadow: 0 0 1px black;
  box-sizing: border-box;
}

#debug {
  top: auto;
  bottom: 0;
  text-align: left;
}

#player1 {
  position: absolute;
  top: 0;
  left: 0;
}

#player2 {
  position: absolute;
  top: 0;
  right: 0;
}

#bottomfooter {
  position: absolute;
  bottom: 0;
  left: 47%;
}
