h1 {
  color: rgb(255, 255, 255);
}

.plateaux {
  max-width: 90%;
}

.button-white {
  background-color: white;
  color: black !important;
  padding: 4px 10px;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.button-white:hover {
  color: black !important;
  background-color: #f8ead6;
  text-decoration: none;
  border-radius: 0px;
}

.btn-obtion {
  background-color: white;
  color: black !important;
  padding: 4px 10px;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.btn-obtion:hover {
  color: black !important;
  background-color: orange;
  text-decoration: none;
  border-radius: 3px;
}

.btn-info {
  margin-top: 20px;
}

/* player 1 & 2 */

.firstplayer{
  float: left;
}

.secondplayer{
  float: right;
}
