<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluide">

  <div style="text-align:center">

    <h1>
      SIX
    </h1>

    <button (click)="googleSignIn()">Google Sign In</button>
      


    <p></p>

    <img width="300" alt="Angular Logo" src="https://media.giphy.com/media/Cx1uhx6pH1scw/giphy.gif">

    <p></p>







  </div>
  <div class="container">
    <div class="row">
      <p class="rugle">Players Blue and Red take turns placing hexes. Blue plays first.
        <br/>Each hex (other than the first two) must be played adjacent to two previously played hexes (playable options are
        shown in light gray).
        <br/> win if you surround at least one of your opponents' hexes with your own, or if you play 5 of your own hexes in a
        row.
        <br/>You can hit 1 or 2 to zoom in or out respectively Hit "U" to undo Enjoy!</p>
    </div>
  </div>

</div>
