h1 {
  color: orange;
  font-size: 8em;
}

p {
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: "roma";
  src: url("Forvertz.ttf");
}

h1 {
  font-family: 'roma';
}

.rugle {
  border: 3px solid orange;
  font-size: 20px;
}

.row {
  margin-left: 20%;
  margin-right: 20%;
}

.button-white {
  background-color: orange;
  color: black !important;
  padding: 4px 10px;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.button-white:hover {
  color: black !important;
  background-color: #f8ead6;
  text-decoration: none;
  border-radius: 0px;
}
